<h1>Schedules</h1>

{{#each model.schedules as |schedule|}}
  <h3>
    {{schedule.sitter.firstName}}
    is sitting for the
    {{schedule.client.familyName}}
    {{format-date schedule.startDate format='ddd MMM Do'}}
    starting at
    {{format-date schedule.startDate format='h:mm A'}}
    finishing about
    {{format-date schedule.endDate format='h:mm A'}}
  </h3>
{{/each}}

{{link-to 'Create a Schedule' 'schedules.date' class='ui primary button'}}
