<h1>Schedules</h1>

{{#each model.schedules as |schedule|}}
  <h3>
    {{schedule.sitter.firstName}}
    is sitting for the
    {{schedule.client.familyName}}
    {{format-date schedule.startDate format='LL'}}
    starting at
    {{format-date schedule.startDate format='LT'}}
    finishing about
    {{format-date schedule.endDate format='LT'}}
  </h3>
{{/each}}

{{link-to 'Create a Schedule' 'schedules.setup.date' class='ui primary button fluid'}}
