{{#if label}}
  <label for={{inputElementId}}>
    {{label}}
    {{#if isRequired}}
      <span class="req">*</span>
    {{/if}}
  </label>
{{/if}}

{{#if isEditing}}
  <select class="ui dropdown" id={{inputElementId}} name={{name}} disabled={{disabled}}>
    {{#if prompt}}
      <option selected={{if value false true}} disabled>{{prompt}}</option>
    {{/if}}
    {{#each options as |option|}}
      <option value={{option.value}} selected={{is-equal value option.value ignoreCase=true}}>{{option.label}}</option>
    {{/each}}
  </select>
{{else}}
  <br>
  {{selectedOption.label}}
{{/if}}

{{#if isInvalid}}
  <p class="ui error">
    {{error}}
  </p>
{{/if}}
