<h2>the time: {{displayTime}}</h2>
<div class="col-xs-12">
  <div class="row between-xs">
    {{#each times as |time|}}
      <button class="box {{if (is-equal time hour) 'selected'}}" {{action 'setHour' time}}>
        {{time}}
      </button>
    {{/each}}
  </div>

  <div class="row between-xs">
    {{#each minutes as |min|}}
      <button class="box {{if (is-equal min minute) 'selected'}}" {{action 'setMinutes' min}}>
        {{min}} mins
      </button>
    {{/each}}
  </div>

  <div class="row between-xs">
    <button class="box {{if (is-equal amPM 'AM') 'selected'}}" {{action 'setAmPm' 'AM'}} >
        AM
    </button>
    <button class="box {{if (is-equal amPM 'PM') 'selected'}}" {{action 'setAmPm' 'PM'}}>
        PM
    </button>
  </div>
  {{#if isInvalid}}
    <div class="row">
      <div class="ui">
        <p>
          {{v-get this 'hour' 'message'}}
        </p>
      </div>
    </div>
  {{/if}}
  <div class="row around-xs">
    <button class="ui button primary fluid" {{action 'setTime'}} disabled={{isInvalid}}>
        Continue
    </button>
  </div>
</div>
